header {
    background-color: #F2E7DD;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #F2E7DD;
}


h1 {
	color: #973131;
	font-size: 200%;
}
h2 {
	color: #973131;
}

p{
	color: #973131;
}

body {
	background-image: url('Images/backgroundcat.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Arial, sans-serif;
	background-color: #F2E7DD;
	font-size: 120%;
	color: #973131;
	border-bottom: 1px solid #F2E7DD;
}


.text-box {
    width: 1200px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-wrapper img {
	width: 300px;
	height: 300px;
  	border-radius: 6px;
	object-fit: cover;
   	margin-right: 100px;
}

.box-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: right; /* Aligne le texte à droite */
    display: inline-block; /* Comporte le texte comme un bloc */
    vertical-align: top; /* Aligne le texte en haut */
}


ul {
	color: #973131;
}

ol {
	color: #973131;
}

hr {
	color: #973131;
}
video {
  aspect-ratio: 16/9;
  width: auto;
  height: 300px;
  border-radius: 8px;
}

/*trouver comment changer rla couleur des lignes*/
