header {
    background-color: #F2E7DD;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #F2E7DD;
}


h1 {
	color: #973131;
	font-size: 200%;
}
h2 {
	color: #973131;
}


.main {
    width: 1200px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px auto;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 25px;
}

.first img {
	width: 400px;
	height: 400px;
  	border-radius: 6px;
	object-fit: cover;
   	margin-left: 50px;
   	margin-right: 100px;
   	margin-bottom: 30px;
}

.first p {
	font-size: 24px;
	color: #973131;
    /*line-height: 1.5;*/
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}
.second {
	display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-top: 25px;
}

.second .second-right {
	width: 30%;
	padding-right:200px;
	float: right;
}
.second-right {
	margin-top: 20px;
	float: right;
	margin-left: 50px;

}
.second h2 {
	font-size: 35pt;
	padding-top: 10px;
	padding-left: 20px;
}
.second p {
	font-size: 24px;
	margin-left: 50px;
	color: #973131;
	margin-bottom: 100px;
}

.second img {
	width: 400px;
	height: 400px;
  	border-radius: 6px;
	object-fit: cover;
    margin-right: 50px;
   	padding-left: 100px;
   	padding-bottom: 30px;
}

.third {
	display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding-top: 25px;
}
.third .third-title {
	width: 30%;
	padding-bottom:200px;
	float: top;
}
.third-title {
	align-content: center;
}

body {
	background-image: url('Images/backgroundcat.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Arial, sans-serif;
	/*background-color: #F2E7DD;*/
	/*font-size: 120%;*/
	/*color: #973131;*/
	border-bottom: 1px solid #F2E7DD;
}


ul {
	color: #973131;
}

ol {
	color: #973131;
}

hr {
	color: #973131;
}
video {
  aspect-ratio: 16/9;
  width: auto;
  height: 300px;
  border-radius: 8px;
}

/*trouver comment changer rla couleur des lignes*/
